* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #3c87ff;
 
}
.section-center
{
  max-width: 405px;
  margin: 135px auto;
  background: #fff;
  border-radius: 7px;
  padding: 28px 0;
  overflow: hidden;
  border-radius: 20px;
}
.grocery-form
{
  height: 52px;
  padding: 0 25px;
  
}
.grocery-form h3{
 text-align:center;
 margin-bottom: 1rem;
}
.form-control{

  /* padding: 0 20px 0 53px; */

  margin-bottom: 2rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-control input{
  border-radius: 10px;
  width: 100%;
  margin-right: .2rem;
  font-size: 1.105rem;
  padding: 0.2rem;

}
.alert
{
  border-radius: 10px;
  background-color: pink;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;

  
}
.alert-success
{
  border-radius: 10px;
  background-color: rgb(36, 247, 89);
  color: rgb(255, 255, 255);
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin-bottom: 1rem;
}
.alert-danger
{
  border-radius: 10px;
  background-color: rgb(236, 27, 62);
  color: rgb(253, 253, 253);
  justify-content: center;
  text-align: center;
  padding: 5px;
  margin-bottom: 1rem;
}
.submit-btn
{
  border-radius: 10px;
  font-size: 1.105rem;
  padding: 0.2rem;
}

.grocery-container
{
  /* background-color: chartreuse; */
  margin: 20px 25px;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  overflow: hidden;

  
}
.grocery-item
{
  list-style: none;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 1rem;
  padding: 16px;
  max-width: 380px;
  justify-content: space-between;
  display: flex;
  border: 2px solid red;
  background-color:aquamarine;
  border-radius: 10px;
  align-items: center;
}
.clear-btn
{
  border: none;
  outline: none;
  background-color: #3c87ff;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  color: #fff;
  font-size: 13px;
  margin: auto;
  display: flex;
  

}
.title
{
  /* word-break: break-all; */
  word-wrap: break-word;
}
.btn-container
{
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: flex-end;

}
.edit-btn{
  margin-right: 0.6rem;
  color: blue;
  background: transparent;
  border: none;
  cursor: pointer;
}
.delete-btn
{
  color: rgb(255, 0, 0);
  background: transparent;
  border: none;
  cursor: pointer;
}


